.boxs{
    background: #be87f1;
    width: 28%;
    height: auto;
    padding: 20px;
    border-radius: 25px;

}
.main{
    height: auto;
    display: flex;
    margin: 40px;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
width: 80%;
}
.boxs p{
    font-size: 18px;
    color: #722eaf;
    font-weight: bold;
    font-family: cursive;
    word-wrap: break-word;
}